.about
    h2.about__title Sobre mi
    .about__img
        img(src=`https://i.picsum.photos/id/1/400/400.jpg`, alt="")
    p.about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corrupti error amet, quisquam eos similique maiores temporibus quibusdam ratione, eius vero odio deleniti qui vitae voluptas esse ducimus veritatis ut.Lorem ipsum dolor sit amet consectetur adipisicing elit.