.contact
    h2.contact__title.section__title Contacto
    p.contact__description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut, enim beatae, doloribus itaque reiciendis nobis vero fugit eos quaerat laborum quam, a quibusdam provident non possimus. Explicabo, ratione fuga.
    form.form.form--contact
        input(type="text",name="name",placeholder="Nombres")#name.form__input
        input(type="email",name="email",placeholder="Email")#email.form__input
        textarea(name="message" placeholder="Mensaje" rows="8")#message.form__area
        input(type="submit" value="Contrátame").form__button