.gallery
    h2.gallery__title.section__title Galeria
    nav.gallery__nav
        ul.menu.menu--section
            li.menu__item: a.menu__link(href="#").active Todo
            li.menu__item: a.menu__link(href="#") Gente
            li.menu__item: a.menu__link(href="#") Lugares
            li.menu__item: a.menu__link(href="#") Naturaleza
    .img-gallery
        - for(let i=1;i<=11; i++)
            .img-gallery__item
                img(src=`https://i.picsum.photos/id/${Math.floor(Math.random() * (85 - 50 + 1)) + 50}/800/600.jpg`, alt="").img-gallery__img
