ul.menu.menu--main
    li.menu__item: a.menu__link(href="#home").active Inicio
    li.menu__item: a.menu__link(href="#gallery") Galeria
    li.menu__item: a.menu__link(href="#about") Sobre mi
    li.menu__item: a.menu__link(href="#contact") Contacto