.about-container{
    background: url(https://i.picsum.photos/id/10/1597/783.jpg) center / cover no-repeat;;
    clip-path: polygon(0 9%, 100% 0,100% 91%,0 100%);
    padding: 3em 0;
    display: flex;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height:  100%;
        top: 0;
        left: 0;
        position: absolute;
        background:#434343;
        opacity: .5;
    }
}
.about{
    position: relative;
    margin: auto;
    width: 80%;
    color: #DEDEDE;
    &__img{
        display: none;
    }
    &__title{
        display: none;
        text-align: center;
        margin-bottom: .5em;
    }
    &__description{
        background: rgba(#D4671F, .9) ;
        @include font(small);
        padding: .5em 1em;
        font-style: italic;
    }
}

@include from(large){
    .about{
        width: 50%;
        display: flex;
        align-items: center;
        &__img{
            display: block;
            width: 40%;
            box-shadow: 0 10px 10px -5px #000;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        &__description{
            width: 60%;
            align-self: center;
            display: flex;
            @include font(base);
            margin-left: -2em;
            padding: 1.5em;
        }
    }
}