.banner{
    background: url(https://i.picsum.photos/id/456/1597/783.jpg) center / cover no-repeat;
    width: 100%;
    height: 55vh;
    position: relative;
    display: flex;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(
            130deg,
            #434343,
            #D4671F
        );
        opacity: .6;
    }
    &__copy{
        margin: auto;
        display: inline-block;
        text-align: center;
        color:#FFF;
        position: relative;
    }
    &__title{
        @include font(title2);
    }
    &__subtitle{
        @include var(background,primary);
        padding: .5em 1em;
        display: inline-block;
        margin: auto;
    }
}