.form{
    &__input,&__area{
        display: block;
        width: 100%;
        margin-bottom: 2em;
    }
    &__input{
        line-height: 3;
        padding-left: 1em;
    }
    &__area{
        padding: 1em;
        margin-bottom: 1em;
    }
    &__button{
        display: block;
        margin: auto;
        @include button(#D4671F);
    }
}

@include from(medium){
    .contact{
        margin: auto;
        width: 70%;
    }
}
@include from(large){
    .contact{
        margin: auto;
        width: 50%;
    }
}