.img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        width: 46vw;
        height: 46vw;
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@include from(medium){
    .img-gallery{
        &__item{
            width: 32vw;
            height: 32vw;
        }
    }
}

@include from(large){
    .img-gallery{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(4,8em);
        grid-gap: 20px;
        &__item{
            width: 100%;
            height: 100%;
            &:nth-child(1){
                grid-column: span 6;
                grid-row: span 2;
            }
            &:nth-child(2){
                grid-column: 7 / span 3;
                grid-row: 1 / 2;
            }
            &:nth-child(3){
                grid-column: 7 / span 3;
                grid-row: 2 / 3;
            }
            &:nth-child(4){
                grid-column: 10 / span 3;
                grid-row: 1 / 3;
            }
            &:nth-child(5){
                grid-column: 1 / span 3;
                grid-row: 3 / 4;
            }
            &:nth-child(6){
                grid-column: 4 / span 6;
                grid-row: 3 / 4;
            }
            &:nth-child(7){
                grid-column: 10 / span 3;
                grid-row: 3 / 4;
            }
            &:nth-child(n+8){
                grid-column: span 3;
            }
        }
    }
}