.logo {
    &--main{
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 20%;
        @include from(medium){
            max-width: 10%;
        }
        @include from(large){
            max-width: 10%;
        }
    }
}