.menu{
    text-align: center;
    margin-bottom: 1em;
    @include from(medium){
        display: flex;
        justify-content: space-around;
    }
    &--main{
        border-top: 1px solid ;
        border-bottom: 1px solid;
        border-color: rgba(map-get($vars,primary), .5);
    }
    &__link{
        display: block;
        font-weight: $semibold;
        color:map-get($vars,primary);
        &.active{
            color: map-get($vars,accent);
        }
        @include from(medium){
            line-height: 2.5;
        }
    }
}