<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 
    body
        header.l-container
            block header
        nav.l-container
            block nav
        .banner-container.l-container--full
            block banner
        .gallery-container.l-container
            block gallery
        .about-container.l-container--full
            block about
        .contact-container.l-container
            block contact
        footer.footer-container.l-container--full
            block footer
