*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
}
img{
    display: block;
    max-width: 100%;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}