extends ../templates/template

block header
    include ../blocks/logo
block nav
    include ../blocks/menu
block banner
    include ../blocks/banner
block gallery
    include ../blocks/gallery
block about
    include ../blocks/about
block contact
    include ../blocks/contact
block footer
    include ../blocks/footer