@mixin var($property,$var){
    #{$property} : map-get($vars,$var);
    #{$property} : var(--#{$var});
}

@mixin from($breakpoint) {
    @media screen and (min-width:map-get($breakpoints,$breakpoint)){
        @content;
    }
}

@mixin font($size){
    font-size: nth(map-get($fonts,$size),1);
    line-height: nth(map-get($fonts,$size),2);
}

@mixin button($type) {
    border: none;
    padding: .2em 2em;
    line-height: 3;
    background:$type;
    color: #fff;
}