$vars : (
    primary : #434343,
    secondary: #DEDEDE,
    accent: #D4671F,
);

:root{
    @each $key, $value in $vars {
        --#{$key} : #{$value};
    }
}
$breakpoints : (
    small : 0,
    medium : 640px,
    large : 1024px,
    xlarge : 1440px,
);

$fonts : (
    title1 : 50px 60px,
    title2 : 32px 60px,
    title3 : 25px 30px,
    base : 20px 30px,
    small : 16px 20px,
    smaller : 14px 20px,
);

$normal : 400;
$semibold : 600;

