

body{
    font-family: 'Zilla Slab', serif;
    @include font(base);
}

.title1{
    @include font(title2);
    @include from(large){
        @include font(title1);
    }
}

.title2{
    @include font(title3);
    @include from(large){
        @include font(title2);
    }
}

.title3{
    @include font(base);
    @include from(large){
        @include font(title3);
    }
}

small,
.small {
    @include font(small);
}
.smaller {
    @include font(smaller);
}
h1,h2,h3,h4,h5,h6{
    font-weight: $semibold;
}
h1{
    margin-top: 0;
    margin-bottom: 1em;
}

.title2,
.title3{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.small,.smaller{
    margin-top: 1em;
    margin-bottom: 1em;
}
a{
    @include var(color,accent);
}